# k8s/service.yaml
apiVersion: v1
kind: Service
metadata:
  name: spring-boot-demo
  labels:
    app: spring-boot-demo
spec:
  type: NodePort
  selector:
    app: spring-boot-demo
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080